* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*var-section*/
:root {
    --debug: none;
    --nav-bg-color: white;
    --jumbo-bg-color: rgb(180, 208, 230);
    --first-buttons-color: rgb(0, 97, 254);
    --first-buttons-text-color: white;
    --second-buttons-color:white;
    --second-buttons-text-color:black;
    --second-buttons-border:1px solid black;
    --buttons-padding: 5px 15px;
    --cards-border-color:rgb(0, 0, 0, .2);
    --checks-color:rgb(61, 109, 253);
    /*members-cards*/
    --designit-bg-color:rgb(162, 211, 155);
    --arizona_state_university-bg-color:rgb(98, 8, 44);
    --university_of_florida-bg-color:rgb(1, 147, 206);
    --topps-bg-color:rgb(254, 28, 29);
    --world_bicycle_relief-bg-color:rgb(213, 0, 32);
    --hearst_corp-bg-color:rgb(180, 208, 230);
    --lonely_planet-bg-color:rgb(13, 36, 129);
    --clear_channel-bg-color:rgb(255, 217, 48);
    --central-designit-bg-color:rgb(245, 245, 245);

}

/*general-page-settings*/
.debug {
    border: 1px solid var(--debug);
}
body{
    font-size: 1.3vw;
    min-width: 1000px;
}
.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.first-buttons-settings {
    display: flex;
    align-items: center;
    color: var(--first-buttons-text-color);
    background-color: var(--first-buttons-color);
    padding: var(--buttons-padding);

}
.second-buttons-settings{
    display: flex;
    align-items: center;
    color: var(--second-buttons-text-color);
    background-color: var(--second-buttons-color);
    padding: var(--buttons-padding);
    border: var(--second-buttons-border);
}
img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

nav a, .first-buttons-settings a, .second-buttons-settings a {
    text-decoration: none;
    color: inherit;
}

hr{
    border: 1px solid var(--cards-border-color);
    width: 100%;
}
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}


/*flex-options*/

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

.a-items-center {
    align-items: center;
}

.a-items-start {
    align-items: start;
}

.a-items-stretch {
    align-items: stretch;
}

.a-self-center {
    align-self: center;
}

.a-content-center {
    align-content: center;
}

.j-content-between {
    justify-content: space-between;
}
.j-content-center {
    justify-content: center;
}

/*header-settings*/
header {
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 2px;
}

nav {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}
nav li {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}
nav li:hover {
    background-color: #666;
}

#logo {
    min-width: 150px;
    padding: 0px 2px;
}

#start-button {
    margin: 0px 10px;
}

/*main-settings*/
main {
    padding-top: 80px;
}
.section-padding{
    padding: 60px 0px;
}
.container-main{
    padding: 0px 50px;
    padding-top: 200px;
}

/*jumbo-settings*/
.jumbo-bg {
    background-color: var(--jumbo-bg-color);
}

h1 {
    font-size: 4vw;
    margin: 40px auto;
    padding-right: 20%;
}

#arrow {
    font-size: 2vw;
}
#description{
    width: 35%;
}
#jumbo-img{
    position: relative;
    width: 65%;
}
#jumbo-img img{
    position: absolute;
    max-width: 900px;
}
/*plans-and-cards-settings*/
h2{
    font-size: 2em;
}
.plan-cards{
    width: calc(100% / 3.3);
    border: 1px solid var(--cards-border-color);

}
.cards-container{
    padding: 0px 40px;
}
.title-card{
    padding: 5px 0;
    border-bottom: 1px solid var(--cards-border-color);
}
.month{
    font-style:italic;
    color: rgb(0, 0, 0, .4);
}
i{
    display: block;
    margin-right: 10px;
    width: 20px;
    padding: 5px 0px;
    padding-left: 0px;
}
.hr-setting{
    width: 20%;
}
.checks{
    color:var(--checks-color);
}
#fourth-card{
    width: 100%;
}
#des-fourth-card{
    width: 70%;
}

/*find-partner-settings*/
#partner-img{
    width: 60%;
    margin-right: 50px;
}
#partner-description{
    width: 40%;
}
.operations-card{
    width: calc(100% / 3.3);
}

/*number-client-settings*/
#number-client h2{
    width: 50%;
}

/*members-cards-settings*/
.members-gallery{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
.members-card{
    width: 50%;
    height:50%;
    background-color: green;
    padding: 10% 10%;
}
.members-card img{
    filter: invert(100%);
    object-fit: contain;
}
#central-designit{
    background-color: var(--central-designit-bg-color);
    padding: 2% 2%;  
}
#designit-central-logo{
    width: 50%;
}
#designit{
    background-color: var(--designit-bg-color); 
}
#arizona_state_university{
    background-color: var(--arizona_state_university-bg-color);
}
#university_of_florida{
    background-color: var(--university_of_florida-bg-color);
}
#topps{
    background-color: var(--topps-bg-color);
}
#world_bicycle_relief{
    background-color: var(--world_bicycle_relief-bg-color);
}
#hearst_corp{
    background-color: var(--hearst_corp-bg-color);
}
#lonely_planet{
    background-color: var(--lonely_planet-bg-color);
}
#clear_channel{
    background-color: var(--clear_channel-bg-color);
}
/*call-to-action-settings*/
#call-to-action-bg{
    background-color: var(--jumbo-bg-color);
    height: 40vh;
}
#call-to-action-setting{
    padding-top:0px ;
}
#call-to-action-setting h2{
    font-size: 3vw;
    width: 60%;
    padding-top:0px ;
}
#call-to-action-setting div{
    padding:10px 30px ;
    margin-top: 2%;
}
