* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*var-section*/
:root {
    --debug: none;
    --nav-bg-color: white;
    --jumbo-bg-color: rgb(180, 208, 230);
    --first-buttons-color: rgb(0, 97, 254);
    --first-buttons-text-color: white;
    --second-buttons-color: white;
    --second-buttons-text-color: black;
    --second-buttons-border: 1px solid black;
    --buttons-padding: 10px 20px;
    --cards-border-color: rgb(0, 0, 0, .2);
    --checks-color: rgb(61, 109, 253);
    /*members-cards*/
    --designit-bg-color: rgb(162, 211, 155);
    --arizona_state_university-bg-color: rgb(98, 8, 44);
    --university_of_florida-bg-color: rgb(1, 147, 206);
    --topps-bg-color: rgb(254, 28, 29);
    --world_bicycle_relief-bg-color: rgb(213, 0, 32);
    --hearst_corp-bg-color: rgb(180, 208, 230);
    --lonely_planet-bg-color: rgb(13, 36, 129);
    --clear_channel-bg-color: rgb(255, 217, 48);
    --central-designit-bg-color: rgb(245, 245, 245);
    --call-to-action-font-color: rgb(96, 5, 40);

}

/*general-page-settings*/
.debug {
    border: 1px solid var(--debug);
}
html{
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.first-buttons-settings {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--first-buttons-text-color);
    background-color: var(--first-buttons-color);
    padding: var(--buttons-padding);
    text-decoration: none;

}
.first-buttons-settings-hover{
    opacity: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0,0.1);
    border: 5px solid rgb(255, 255, 255, .2);
}
.first-buttons-settings-hover:hover{
    opacity: 1;
}

.second-buttons-settings {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--second-buttons-text-color);
    background-color: var(--second-buttons-color);
    padding: var(--buttons-padding);
    border: var(--second-buttons-border);
    text-decoration: none;
}
.second-buttons-settings:hover{
    box-shadow: 1px 1px 5px black;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
i{
    display: block;
    margin-top: 2px;
    margin-right: 5px;
}
ul {
    list-style: none;
}

.hr-setting {
    width: 20%;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}


/*flex-options*/

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.a-items-center {
    align-items: center;
}

.a-items-start {
    align-items: start;
}

.a-items-stretch {
    align-items: stretch;
}

.a-self-center {
    align-self: center;
}

.a-content-center {
    align-content: center;
}

.j-content-between {
    justify-content: space-between;
}

.j-content-center {
    justify-content: center;
}

/*header-settings*/
header {
    display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 1000;
    height: 80px;
    width: 100%;
    min-width: 1000px;
    background-color: white;
    box-shadow: 0px 2px 2px;
}

nav {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

nav li {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

nav li:hover {
    background-color: var(--cards-border-color);
}

#logo {
    width: 10vw;
    min-width: 50px;
    max-width: 150px;
    padding: 0px 5px;
}

#start-button {
    margin: 0px 10px;
}
#function{
    position: relative;
}
#function-hover{
    position: absolute;
    padding-top: 95%;
    top: 0;
    left: 0;
    opacity: 0;
}
#function-hover-setting{
    justify-content: space-around;
    z-index: 100;
    padding: 10px 10px;
    width: 200%;
    background-color:rgb(204, 204, 204);
}
#function-hover:hover{
    opacity: 1;
}
#function li{
    padding: 0px;
    align-self: flex-start;
}

/*main-settings*/
main {
    padding-top: 80px;
    min-width: 1000px;
}
main>div:nth-last-child(1){
    padding-bottom: 120px;
}
.section-padding {
    padding: 60px 0px;
}

.container-main {
    padding: 0px 50px;
    padding-top: 200px;
}

main hr {
    border: 1px solid var(--cards-border-color);
    width: 100%;
}

/*jumbo-settings*/
.jumbo-bg {
    background-color: var(--jumbo-bg-color);
}

h1 {
    font-size: 4vw;
    margin: 40px auto;
    padding-right: 20%;
}

#arrow {
    font-size: 2vw;
}
#arrow a:visited{
    color: black;
}

#description {
    width: 40%;
}

#jumbo-img {
    position: relative;
    width: 60%;
}

#jumbo-img img {
    position: relative;
    width: 100%;
    margin-bottom: -100px ;
    min-width: 600px;
}

/*plans-and-cards-settings*/
main h2 {
    font-size: 2em;
}
.radio-button{
    margin-right: 40px;
}
input{
    margin-right: 2px;
}
.plan-cards {
    width: calc(100% / 3.3);
    border: 1px solid var(--cards-border-color);

}

.cards-container {
    padding: 0px 40px;
}

.title-card {
    padding: 5px 0;
    border-bottom: 1px solid var(--cards-border-color);
}

.month {
    font-style: italic;
    color: rgb(0, 0, 0, .4);
}

.checks {
    color: var(--checks-color);
}

#fourth-card {
    width: 100%;
}

#des-fourth-card {
    width: 70%;
}

/*find-partner-settings*/
#partner-img {
    width: 60%;
    margin-right: 50px;
}

#partner-description {
    width: 40%;
}

.operations-card {
    width: calc(100% / 3.3);
}

/*number-client-settings*/
#number-client h2 {
    width: 50%;
}

/*members-cards-settings*/
#members-gallery{
    margin-top: 200px;
}
.members-gallery-settings {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.members-card {
    width: 50%;
    height: 50%;
    padding: 10% 10%;
    z-index: 0;
    position: relative;
}
.members-hover{
    opacity: 0;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: 30px solid rgb(255, 255, 255,.5);
}
.members-hover:hover{
    opacity: 1;
}

.members-card img {
    filter: invert(100%);
    object-fit: contain;
}

#central-designit {
    background-color: var(--central-designit-bg-color);
    padding: 2% 2%;
}

#designit-central-logo {
    width: 50%;
}

#designit {
    background-color: var(--designit-bg-color);
}

#arizona_state_university {
    background-color: var(--arizona_state_university-bg-color);
}

#university_of_florida {
    background-color: var(--university_of_florida-bg-color);
}

#topps {
    background-color: var(--topps-bg-color);
}

#world_bicycle_relief {
    background-color: var(--world_bicycle_relief-bg-color);
}

#hearst_corp {
    background-color: var(--hearst_corp-bg-color);
}

#lonely_planet {
    background-color: var(--lonely_planet-bg-color);
}

#clear_channel {
    background-color: var(--clear_channel-bg-color);
}

/*call-to-action-settings*/
#call-to-action {
    background-color: var(--jumbo-bg-color);
    height: 40vh;
}
#call-to-action .second-buttons-settings{
    border: none;
}

#call-to-action-setting {
    padding-top: 0px;
}

#call-to-action-setting h2 {
    align-self: center;
    font-stretch: expanded;
    width: 60%;
    color: var(--call-to-action-font-color);
}

#call-to-action-setting div {
    padding: 10px 30px;
    margin: 5px;
}

/*FAQ-section*/
#ask-1 {
    width: 100%;
    padding: 20px 10px;
    font-weight: bold;
    border-top: 2px solid rgb(0, 0, 0, .4);
    border-bottom: 1px solid rgb(0, 0, 0, .4);
    font-size: 1vw;
}

#ask-2 {
    width: 100%;
    padding: 20px 10px;
    font-weight: bold;
    border-top: 1px solid rgb(0, 0, 0, .4);
    border-bottom: 1px solid rgb(0, 0, 0, .4);
    font-size: 1vw;
}

#ask-3 {
    width: 100%;
    padding: 20px 10px;
    font-weight: bold;
    border-top: 1px solid rgb(0, 0, 0, .4);
    border-bottom: 2px solid rgb(0, 0, 0, .4);
    font-size: 1vw;
}

/*footer-settings*/
footer {
    color: white;
    background-color: black;
    min-width: 1000px;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer i{
    font-size: 1em;
}
footer li{
    padding-right: 10px;
}
footer h4{
    font-size: 1.5vw;
}
footer .hr-setting{
    width: 10%;
}
footer select{
    color: inherit;
    border: none;
    background: none;
}

.footer-font {
    color: rgb(255, 255, 255, 0.5);
    width: 100%;
}
footer hr{
    border: 1px solid rgb(255, 255, 255, 0.5);
    width: 100%;
}
